package main
// rename this file to config.go and replace your configuration here
const (
	webserverPort = ":1323"
	logsfile      = "/var/log/"
	redisaddress   = "127.0.0.1:6379"
	redispass      = ""
)
